{{template "video_base" .}}

{{define "title"}}rAdIcal{{end}}

{{define "video_body"}}
 <video controls>
  <source src="{{ .videoPath }}" type="video/mp4">
  Your browser does not support the video tag.
</video>
{{end}}
